body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #191919;
  color: white;
}

.clock {
  text-align: center;
}

#time {
  font-size: 140px;
  background: linear-gradient(45deg, 
    #00aaff, 
    #0066ff, 
    #0011ff, 
    #4b0082, 
    #800080, 
    #b200ff, 
    #ee82ee, 
    #9400d3, 
    #8a2be2, 
    #6a5acd, 
    #7b68ee, 
    #483d8b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#date {
  font-size: 15px;
  text-align: end;
  font-family: ui-rounded;
  font-weight: normal; /* Add the desired font-weight value */
  color: #ffffff; /* Set the desired text color */
}


.card {
  height: 230px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0px 15px;
  border-radius: 10px;
  color: white;
  position: relative;
  cursor: pointer;
  font-weight: 900;
}


