body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #191919;
  color: white;
}

.clock {
  text-align: center;
}

#time {
  font-size: 140px;
  background-image: url('img.jpg'); /* Ruta de la imagen */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


#date {
  font-size: 25px;
  text-align: end;
  font-family: ui-monospace;
  font-weight: bold; /* Add the desired font-weight value */
  color: #ffffff; /* Set the desired text color */
}


.card {
  height: 230px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0px 15px;
  border-radius: 10px;
  color: white;
  position: relative;
  cursor: pointer;
  font-weight: 900;
}


